:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
    background-color: #121212;
    color: white;
    border-color: #383838;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr {
    background-color: #121212;
    color: white;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
    border-color: #383838;
}

:host ::ng-deep .p-datatable {
    background-color: #121212;
}
