<div styleClass="register-form">
  <p-card styleClass="user-form" class="flex justify-content-center">    
  <H4>Inscription</H4>
    <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate >
      <div class="field">
        <label for="username">Pseudo</label>
        <input
          type="text"
          pInputText
          class="form-control"
          name="username"
          [(ngModel)]="form.username"
          required
          minlength="3"
          maxlength="20"
          #username="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
          autocomplete="username"
        />
        <div class="invalid-feedback" *ngIf="username.errors && f.submitted">
          <div *ngIf="username.errors['required']">Le pseudo est obligatoire</div>
          <div *ngIf="username.errors['minlength']">
            Le pseudo doit etre au moins de 3 caractères
          </div>
          <div *ngIf="username.errors['maxlength']">
            Le pseudo doit etre au max  de 20 caractères
          </div>
        </div>
      </div>
      <div class="field"> 
        <label for="email">Email</label>
        <input
          type="email"
          pInputText
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
          email
          #email="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && email.errors }"
          autocomplete="email"
        />
        <div class="invalid-feedback" *ngIf="email.errors && f.submitted">
          <div *ngIf="email.errors['required']">l'email est nécéssaire</div>
          <div *ngIf="email.errors['email']">
            L'eMail n'est pas valide
          </div>
        </div>
      </div>
      <div class="field">
        <label for="password">Mot de passe</label>
        <input
          type="password"
          pInputText
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
          autocomplete="new-password"
        />
        <div class="invalid-feedback" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors['required']">Le mot depasse est nécéssire</div>
          <div *ngIf="password.errors['minlength']">
            Le mot de passe  doit etre au moins de 6 caractères
          </div>
        </div>
      </div>
      <div class="field">
        <button pButton >Demande d'inscription</button>
        <p-button icon="pi  pi-sign-in"  styleClass="p-button-rounded p-button-info p-button-text" (onClick)="goLogin()">                    
        </p-button>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Echec de l'inscription<br />{{ errorMessage }}
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Demande d'inscription réussi, en attende d'approbation
    </div>
  </p-card>
</div> 