<p-toast></p-toast>
<p-table [value]="userListTotal" dataKey="id" editMode="row" [tableStyle]="{'min-width': '50rem'}">
  <ng-template pTemplate="header">
    <tr>
      <th style="width:20%">username</th>
      <th style="width:20%">email</th>
      <!--<th style="...">rolesString</th>-->
      <th style="width:5%">Actif</th>
      <th style="width:10%">Role</th>
      <th style="width:5%"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user let-editing="editing" let-ri="rowIndex">
    <tr [pEditableRow]="user">
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" [(ngModel)]="user.username">
          </ng-template>
          <ng-template pTemplate="output">
            {{user.username}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" [(ngModel)]="user.email" required>
          </ng-template>
          <ng-template pTemplate="output">
            {{user.email}}
          </ng-template>
        </p-cellEditor>
      </td>
      <!--
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" [(ngModel)]="user.rolesString" required>
          </ng-template>
          <ng-template pTemplate="output">
            {{user.rolesString}}
          </ng-template>
        </p-cellEditor>
      </td>
      -->
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input type="checkbox" [(ngModel)]="user.active" name="active" (change)="onCheckboxChange(user)" />
          </ng-template>
          <ng-template pTemplate="output">
            <input type="checkbox" [(ngModel)]="user.active" name="active" disabled />
            <!--
            {{user.active}}
            -->
          </ng-template>
        </p-cellEditor>
      </td>

      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-multiSelect [options]="roles" [(ngModel)]="user.rolesObj" optionLabel="name" display="chip"></p-multiSelect>
          </ng-template>
          <ng-template pTemplate="output">
            <p-multiSelect [options]="roles" [(ngModel)]="user.rolesObj" optionLabel="name" [disabled]="true"  display="chip"></p-multiSelect>
          </ng-template>
        </p-cellEditor>
      </td>


      <td>
        <div class="flex align-items-center justify-content-center gap-2">
          <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(user)" class="p-button-rounded p-button-text"></button>
          <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(user)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
          <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(user, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>

