<p-toast></p-toast>
<div class="card">
  <p-dataView #dv [value]="films" [paginator]="true" [rows]="rows" filterBy="title" layout="grid"
              [sortField]="sortField" [sortOrder]="sortOrder"
              [lazy]="true" (onLazyLoad)="loadData2($event)" [totalRecords]="totalRecords"  >


    <ng-template pTemplate="header">
      <div class="flex flex-column md:flex-row md:justify-content-between">
        <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Tri par Date d'ajout" (onChange)="onSortChange($event)" styleClass="mb-2 md:mb-0"></p-dropdown>
        
        <input type="text" pInputText placeholder="Rech IA" [(ngModel)]="filmname" (keyup.enter)="rechercheIA()">
        
        
        <span class="p-input-icon-left">
          <!--
            <i class="pi pi-search"></i>
            <input type="text" pInputText placeholder="Rech (titre:/acteur:/id:/yyyymm:)" [(ngModel)]="filmname" (keyup.enter)="recherche()">
           -->
          <p-autoComplete  [(ngModel)]="filmselectione"  placeholder="Rech (titre:/acteur:/id:/yyyymm:)"  [virtualScroll]="true" [suggestions]="filmselectfiltered" [virtualScrollItemSize]="34" (onSelect)="rechercheSelect()" (keyup.enter)="rechercheSelect()" (completeMethod)="filterFilmSelect($event)" field="original_title" [dropdown]="true"  >
        </p-autoComplete>
            <p-button icon="pi pi-search" (onClick)="recherche()" class="mr-2"></p-button>
        </span>
        <span >
          <p-progressSpinner *ngIf="displaySpinner"  animationDuration=5></p-progressSpinner>
        </span>

        <!-- Rico3
        <span class="p-input-icon-left mb-2  md:mb-0">
            <i class="pi pi-search"></i>
            <input type="search" pInputText placeholder="Recherche dans la sélection" (input)="dv.filter($event.target.value)" >
        </span>
        -->
        {{NbFilms}} films
        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
      </div>
    </ng-template>


    <ng-template let-film pTemplate="listItem">
      <div class="col-12">
        <div class="product-list-item">
          <img [src]="'https://image.tmdb.org/t/p/original/' + film.backdrop_path" [alt]="film.title" width="200"  />
          <div class="product-list-detail">
            <div class="product-name"  (click)="showFilmPopUp(film._id)">{{film.title}}
            </div>
            <div><span style="{{this.getImageStremaning(film.present_streaming,'couleur')}}"  (click)="showRequestPopUp(film._id)" >{{this.getImageStremaning(film.present_streaming,'contenu')}}</span></div>
            <div class="product-description">{{film.release_date}}</div>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template let-film pTemplate="gridItem">
      <div class="col-12 md:col-2">
        <div class="product-grid-item card">
          <div class="product-grid-item-top">
            <div class="product-name" (click)="showFilmPopUp(film._id)"> {{film.title}}</div>
          </div>
          <div id="toto" class="product-grid-item-content">
            <img [alt]="film.title" [src]="'https://image.tmdb.org/t/p/original/' + film.poster_path" />
            <div class="product-description">{{film.original_title}}
              <span style="{{this.getImageStremaning(film.present_streaming,'couleur')}}"  (click)="showRequestPopUp(film._id)" >{{this.getImageStremaning(film.present_streaming,'contenu')}}</span>
            </div>
            <div>{{film.release_date}} / {{this.convertDate(film.UPDATE_DB_DATE)}} </div>
          </div>
          <div class="product-grid-item-bottom">
          </div>
        </div>

      </div>
    </ng-template>

  </p-dataView>
</div>


