<form (ngSubmit)="lancerRecherche()">
  <div class="p-fluid">
    <div class="p-field">
      <label for="titre">Titre</label>
      <input id="titre" type="text" pInputText [(ngModel)]="filtre.title" name="title">
    </div>
    <div class="p-field">
      <label for="titre_original">Titre Original</label>
      <input id="titre_original" type="text" pInputText [(ngModel)]="filtre.original_title" name="original_title">
    </div>
    <div class="p-field">
      <label for="acteur">Acteur</label>
      <input id="acteur" type="text" pInputText [(ngModel)]="filtre.actor" name="actor">
    </div>
    <div class="p-field">
      <label for="metteur_en_scene">Metteur en scène</label>
      <input id="metteur_en_scene" type="text" pInputText [(ngModel)]="filtre.director" name="director">
    </div>
    <div class="p-field">
      <label for="status">Status</label>
      <select id="status" class="p-inputtext p-component" [(ngModel)]="filtre.status" name="status">
        
        <option value="">(tous)</option> 
        
        <option value="requested_from_tmdb">(film en demande)</option>
        
      </select>
    </div>
  </div>
  <div class="p-dialog-footer">
    <button pButton type="submit" label="Lancer la recherche"></button>
  </div>
</form>