<div align="center" id="rico" 
style="background-color: black;"
>
<p-galleria [value]="films"
  [responsiveOptions]="responsiveOptions"
  [containerStyle]="{ 'max-width': '60%' ,'place-content': 'center'}"
  [numVisible]="5"
  [autoPlay]="true"
  [circular]="true"
>
  <ng-template pTemplate="item" let-item>
    <img [src]="'https://image.tmdb.org/t/p/original/' + item.backdrop_path" style="width: 100%;" />
  </ng-template>
  <ng-template pTemplate="thumbnail" let-item>
    <div class="grid grid-nogutter justify-content-center">
      <img [src]="getUrlResized(item.backdrop_path)" />
    </div>
  </ng-template>
  <ng-template pTemplate="caption" let-item>
    <h4 style="margin-bottom: .5rem; color: #ffffff;">
        {{ item.original_title }}
    </h4>
    <p>{{ 'Metteur en scène : '+getDirector(item)+', Distribution : '+ getActors(item)}}</p>
</ng-template>
</p-galleria>
</div>
