<p-toolbar>


  <div class="p-toolbar-group-right">

    <A href="{{this.url_home}}">
      <img alt='Hoho' [src]="this.path_image+'ricofilmlogo.gif'" style="max-width: 60%;"/>
    </A>
    <!--
        <p-button icon="pi pi-search" class="mr-2"></p-button>
        <p-button icon="pi pi-calendar" styleClass="p-button-success mr-2"></p-button>
        <p-button icon="pi pi-times" styleClass="p-button-danger"></p-button>
    -->
    <!-- CONNECTE -->
    <p-button icon="pi pi-search" class="mr-2"  (onClick)="affichelist()" *ngIf="isLoggedIn"></p-button>
    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/userlist" class="nav-link" routerLink="userlist" *ngIf="showAdminBoard" >UserList</a>
      </li>
      <li class="nav-item">
        <!-- <a href class="nav-link" (click)="logout()">LogOut</a> -->
        <!-- <p-button icon="pi pi-search" class="mr-2"  (onClick)="logout()" *ngIf="isLoggedIn">Logout</p-button> -->
        <span class="mon-span-lien" (click)="logout()" *ngIf="isLoggedIn" >Déconnexion</span>
      </li>
    </ul>


    <!-- DECONNECTE -->
    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">register</a>
      </li>
    </ul>

  </div>
</p-toolbar>
