<p-toolbar styleClass="bg-black-alpha-10">
      <div class="p-toolbar-group-start">
        <A href="{{this.url_home}}">                    
          <img alt="Hoho" src="{{this.path_image}}"  style="max-width: 60%;"/>  
        </A>            
      </div>
      <div class="p-toolbar-group-center">
            <div class="flex flex-wrap align-items-center gap-3" *ngIf="isLoggedIn">              
                <p-button icon="pi pi-home" styleClass="p-button-rounded p-button-info  p-button-text" 
                [ngClass]="{'selected-button': selectedButton === 1}"               
                (onClick)="selectButton(1);goHome2();">                    
                </p-button>
                <p-button icon="pi pi-users"  styleClass="p-button-rounded p-button-info p-button-text"
                [ngClass]="{'selected-button': selectedButton === 2}"                 
                  (onClick)="selectButton(2);afficheAnnuaire()">                    
                </p-button>
                <p-button icon="pi pi-sync" styleClass="p-button-rounded p-button-info p-button-text"
                [ngClass]="{'selected-button': selectedButton === 4}"
                (onClick)="selectButton(4);sync()">
                </p-button>
                <p-button icon="pi pi-search" styleClass="p-button-rounded p-button-info p-button-text"
                [ngClass]="{'selected-button': selectedButton === 3}"   
                (onClick)="selectButton(3);affichelist()">                    
                </p-button>
            </div>
        </div> 

        <div class="p-toolbar-group-end" *ngIf="isLoggedIn">
          
          <div class="flex align-items-center gap-2">
            <A href="/profile">                            
              <p-avatar 
                  label ="R"
                  shape="circle" />
            </A>
            <!--
            <span class="font-bold text-bluegray-50">
              <A href="/profile">
              {{ username }}
              </A>
            </span>            
            -->
            <p-button icon="pi pi-sign-out" styleClass="p-button-rounded p-button-info p-button-text"
              (onClick)="logout()">                    
            </p-button>             
        </div>     
        
      </div>

      <div class="p-toolbar-group-end" *ngIf="!isLoggedIn">
          <p-button icon="pi pi-sign-in" styleClass="p-button-rounded p-button-info p-button-text"
                (onClick)="goLogin()">                    
            </p-button>            
            <p-button icon="pi pi-user-plus" styleClass="p-button-rounded p-button-info p-button-text"
                (onClick)="goRegister()">                    
            </p-button>            
      </div>
       
</p-toolbar>