<div class="grid  nested-grid ">
  <div class="col-3 md-12 box">
    <img [alt]="film.title" [src]="'https://image.tmdb.org/t/p/original/' + film.poster_path"
         style="max-width: 200px;"/>
  </div>
  <div class="lg:col-9  md:col-12 box">
    <div class="grid  align-items-stretch">
      <div class="col-12 "><H2>{{film.original_title}} ({{film.title}})</H2></div>

      <div class="col-4 ">Popularité :: {{film.popularity}}   </div>
      <div class="col-4">Moyene des votes : {{film.vote_average}}</div>
      <div class="col-4">Comptage des votes : {{film.vote_count}}</div>

      <div class="col-4 ">Année : {{film.release_date}}   </div>
      <div class="col-4">Ajouté le : {{this.getUPDATE_DB_DATE()}}</div>
      <div class="col-4">Durée : {{film.runtime}}</div>

      <div class="col-12">
        <span  *ngFor="let genre of  film.genres; let i = index">
              {{genre.name}},
        </span>
      </div>

      <div class="col-12 " (click)="selectActeur('real:'+this.getDirector())">Réalisateur : <b> {{this.getDirector()}}</b></div>
      <div class="col-12">{{film.overview}}</div>

    </div>
  </div>
</div>

<p-carousel [value]="film.credits.cast" [numVisible]="5" [numScroll]="5" [responsiveOptions]="responsiveOptions">
  <ng-template pTemplate="header">
    <h5>Distribution et équipe</h5>
  </ng-template>
  <ng-template let-cast pTemplate="item">
    <img   *ngIf="cast.profile_path" src="https://image.tmdb.org/t/p/original/{{cast.profile_path}}"   style="max-width: 50%;">
    <div   class="box box-stretched"  (click)="selectActeur('acteur:'+cast.name)"><b>{{cast.name}}</b><br> est {{cast.character}}</div>
  </ng-template>
</p-carousel>

<div><B>Liens : </B><br>
  <A href="https://www.imdb.com/title/{{film.imdb_id}}">
    <img [alt]="film.title" [src]="this.path_image+'Imdb.png'" style="max-width: 60%;"/>
  </A>
  <A href="https://www.themoviedb.org/movie/{{film.id}}">
    <img [alt]="film.title" [src]="this.path_image+'tmdb.jfif'" style="max-width: 60%;"/>
  </A>
</div>

<!--
  Détail ses fichiers
-->
<br>
<p-table [columns]="cols_fichier" [value]="film.RICO_FICHIER" [tableStyle]="{'min-width': '50rem'}"  dataKey="file">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th>Détail:</th>
      <th *ngFor="let col of columns">
        {{col.header}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-ricoFichier let-columns="columns" let-expanded="expanded">
    <tr>
      <td>
        <button type="button" pButton pRipple [pRowToggler]="ricoFichier" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
      </td>
      <td *ngFor="let col of columns; index as i">
        <span *ngIf="i!=1">{{ricoFichier[col.field]}}</span>
        <span *ngIf="i==1">{{this.transformeDateTimeToDate(ricoFichier[col.field])}}</span>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="rowexpansion" let-ricoFichier>
    <tr>
      <td>
        <div class="p-3">
          <p-table [value]="ricoFichier.InfoStreams" dataKey="CodecName">
            <ng-template pTemplate="header">
              <tr>
                    <th>index</th>
                    <th>CodecType</th>
                    <th>CodecName</th>
                    <th>duration</th>
                    <th>CodecLongName</th>
                    <th>TimeBase</th>
                    <th>Profile</th>
                    <th>BPS</th>
                    <th>Duration</th>
                    <th>NUMBER_OF_FRAME</th>
                    <th>NUMBER_OF_BYTES</th>
                      <th>AvgFrameRate / Channels</th>
                      <th>PixFmt / SampleRate</th>

                    <th>ChannelLayout</th>
                    <th>language</th>
                    <th>title</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-stream>
                <tr>
                  <td>{{stream.index}}</td>
                  <td>{{stream.CodecType}}</td>
                  <td>{{stream.CodecName}}</td>
                  <td>{{stream.duration}}</td>
                  <td>{{stream.CodecLongName}}</td>
                  <td>{{stream.TimeBase}}</td>
                  <td>{{stream.Profile}}</td>
                  <td>{{stream["tag-BPS"]}}</td>
                  <td>{{stream["tag-DURATION"]}}</td>
                  <td>{{stream["tag-NUMBER_OF_FRAMES"]}}</td>
                  <td>{{stream["tag-NUMBER_OF_BYTES"]}}</td>


                  <td *ngIf="stream.CodecType=='VIDEO'">{{stream.AvgFrameRate}}</td>
                  <td *ngIf="stream.CodecType=='VIDEO'">{{stream.PixFmt}}</td>

                  <td *ngIf="stream.CodecType!='VIDEO'">{{stream.Channels}}</td>
                  <td *ngIf="stream.CodecType!='VIDEO'">{{stream.SampleRate}}</td>

                  <td *ngIf="stream.CodecType!='VIDEO'">{{stream.ChannelLayout}}</td>
                  <td *ngIf="stream.CodecType!='VIDEO'">{{stream["tag-language"]}}</td>
                  <td *ngIf="stream.CodecType!='VIDEO'">{{stream["tag-title"]}}</td>
                </tr>
            </ng-template>
          </p-table>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
<!--
  Lien vers la bande annonce
  //<video-player [videoId]="videoId"></video-player>
-->
<app-video-player [videoId]="videoId"></app-video-player>

