
::ng-deep .p-dialog {
  border-radius: 1rem !important;
  background-color: #121212 !important;
  border: none !important;
  border-radius: 32px !important;
}

::ng-deep .p-dialog-header {
  background-color: #121212 !important;
  color: #fff !important;
  font-weight: bold;
  border: none !important;
}

::ng-deep .p-dialog-content {
  padding: 2rem;
  font-size: 1.1rem;
  color: #fff !important;
  background-color: #121212 !important;
  backdrop-filter: blur(2px) !important;
  border: none !important;
}

::ng-deep .p-dialog-footer {
  text-align: right;
  background-color: #121212 !important;
}

h2, h5{
    margin-top: 0;
     font-family: "Lexend", sans-serif !important; 
    font-optical-sizing: auto;  
    font-weight: 400;
    font-style: normal;
}
.col-4 {
    font-family: "Lexend", sans-serif !important; 
    font-optical-sizing: auto;  
    font-weight: 400;
    font-style: normal;
    font-size: 0.875vw;
    color: rgb(90, 90, 90);
}
.col-12 span{
    font-family: "Lexend", sans-serif !important; 
    font-optical-sizing: auto;  
    font-weight: 400;
    font-style: normal;
    font-size: 1vw;
    color: white;
}
// carrousel
.box p{
    font-family: "Lexend", sans-serif !important; 
    font-optical-sizing: auto;  
    font-weight: 400;
    font-style: normal;
    font-size: 0.875vw;
    color: rgb(90, 90, 90);
    margin-top: 4px;
}
:host ::ng-deep .p-carousel {
  border-radius: 12px;
  padding: 0;
}

:host ::ng-deep .p-carousel-item {
  text-align: center;
  border-radius: 10px;
  flex-basis: 30% !important;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}
:host ::ng-deep .p-carousel-item img{
  border-radius: 16px;
}

:host ::ng-deep .p-carousel-item:hover {
  transform: scale(1.05);
  cursor: pointer;
}

:host ::ng-deep .p-carousel-prev,
:host ::ng-deep .p-carousel-next {
  margin: 0 !important;
  border: none;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

:host ::ng-deep .p-carousel-prev:hover,
:host ::ng-deep .p-carousel-next:hover {
  background: #512da8;
}

:host ::ng-deep .p-carousel-indicators li.p-carousel-indicator button {
  background-color: #333333 !important;
  border-radius: 50px;
  height: 4px;
}

:host ::ng-deep .p-carousel-indicators li.p-highlight button {
  background-color: lightgray !important;
   border-radius: 50px;
   height: 4px;
}

// carrousel fin
// tableau

:host ::ng-deep .p-datatable {
  border-radius: 10px;
  overflow: hidden;
  border: rgba($color: white, $alpha: 0.5);
}

:host ::ng-deep .p-datatable-thead > tr > th {
  background: #121212;
  color: lightgray;
  font-family: "Lexend", sans-serif !important; 
    font-optical-sizing: auto;  
    font-weight: bold;
    font-style: normal;
    font-size: 1.2vw;
    color: lightgray;
    margin-top: 4px;
}
:host ::ng-deep td {
  background: #121212;
  color: lightgray;
  font-family: "Lexend", sans-serif !important; 
    font-optical-sizing: auto;  
    font-weight: 400;
    font-style: normal;
    font-size: 1.2vw;
    color: rgb(90, 90, 90);
    margin-top: 4px;
}

:host ::ng-deep .ytp-cued-thumbnail-overlay{
    width: 100% !important;
}

// :host ::ng-deep .p-datatable-tbody > tr:hover {
//   background: #e3f2fd;
// }

